<section class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="inner">
          <h1>LOCATION</h1>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <h1>AROUND THE WEB</h1>
          <div class="icons">
            <i class="fa-brands fa-facebook mx-2 icon"></i>
            <i class="fa-brands fa-twitter mx-2 icon"></i>
            <i class="fa-brands fa-linkedin-in mx-2 icon"></i>
            <i class="fa-solid fa-globe mx-2 icon"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <h1>ABOUT FREELANCER</h1>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
