<section class="start w-100 d-flex justify-content-center align-items-center">
  <div class="text-center">
    <div class="image">
      <img src="./avataaars.svg" width="300px" alt="" />
    </div>
    <div class="title">
      <h1 class="text-white">START FRAMEWORK</h1>
      <span class="star d-block">
        <i _ngcontent-cvp-c6="" class="fa-solid fa-star text-white"></i>
      </span>
      <span class="text-white">
        Graspanhic Artist - Web Designer - Illustrator
      </span>
    </div>
  </div>
</section>
